[submodule "extern/submodules/dr_libs"]
	path = extern/submodules/dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "extern/submodules/miniaudio"]
	path = extern/submodules/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "extern/submodules/expected"]
	path = extern/submodules/expected
	url = https://github.com/TartanLlama/expected
[submodule "extern/submodules/utfcpp"]
	path = extern/submodules/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "extern/submodules/wavpack"]
	path = extern/submodules/wavpack
	url = https://github.com/dbry/wavpack
